<div class="position-relative" style="height: 100vh; background-image: url({{ post.meta('main_banner_img') }})">
    <div class="container text-container">
        <div class="overlay">
            <h1 class="title_page">Широкий спектр архітектурних, землевпорядних, геодезичних і консалтингових послуг</h1>
            <a href="#" class="button_contact">зв’язатись з нами</a>
        </div>
    </div>
</div>
