<div class="projects">
    <div class="container">
        <h1 class="projects-title">Проекти</h1>
    </div>
    <img src="{{ post.meta('projects_img') }}" alt="alt" class="w-100" style="max-width: 100%;">
    <div class="container">
        <a href="#" class="project-link">Дивитись всі проекти</a>
    </div>
</div>
