a {
    text-decoration: none;
}

.container {
    max-width: 1230px!important;
}

header {
    padding: 16px 0;
}

.nav-link:first-child {
    padding-left: 0;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #2c2c36;
}

.center-block {
    flex: 1 1 auto;
}

.right-block {
    flex: 1 1 auto;
}

.phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #1e836b;
}

.language a {
    font-size: 14px;
    font-weight: 500;
    color: #2c2c36;
}

.phone {
    font-weight: 600;
    font-size: 18px;
}

.phone-icon svg path {
    transition: fill 0.3s ease; /* Плавное изменение цвета заливки */
}

.phone-icon svg:hover path {
    fill: blue; /* Новый цвет заливки при наведении */
}

.language a,
.phone a {
    text-decoration: none;
    color: #2c2c36;
}


/*  MAIN-BANNER CSS */


.position-relative {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title_page {
    font-size: 64px;
    margin-bottom: 42px;
}

@media (max-width: 1024px) {
    .title_page {
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    .title_page {
        font-size: 36px;
    }
}

@media (max-width: 610px) {
    .title_page {
        font-size: 16px;
    }
}

.button_contact {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 26px 40px;
    text-decoration: none;
    width: 264px;
    height: 68px;
    background: #1e836b;
    color: white;
}

@media (max-width: 768px) {
    .button_contact {
        font-size: 14px;
        padding: 16px 40px;
    }
}

/*  ABOUT STYLES */

.about {
    margin-top: clamp(40px, 6.25vw, 120px);
}

.about-title {
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
    color: #2c2c36;
}

.about-textarea {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #2c2c36;
}


@media (max-width: 768px) {
    .about-title {
        font-size: 24px;
        margin-top: 10px;
    }
    .about-textarea {
        font-size: 14px;
    }
}

.about-continue-reading span {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #1e836b;
}

.about-img {
    width: 100%;
}

@media (min-width: 1400px) {
    .about-img {
        max-width: 495px;
        width: 100%;
    }
}

.about-block-img-2 {
    width: 100%;
}


/*  COMPANY STATS STYLES */

.company-stats {
    padding-top: clamp(40px, 6.25vw, 120px);
    padding-bottom: clamp(40px, 6.25vw, 120px);
    background: #f6f6f6;
}

.company-number {
    font-weight: 400;
    font-size: 80px;
    text-transform: uppercase;
    color: #1e836b;
}

.company-title {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 23px;
    color: #2c2c36;
}

.company-title span {
    color: #1E836B;
}

@media (max-width: 1024px) {
    .company-title {
        font-size: 34px;
    }
}

.company-block-stats {
    padding: 0 50px;
    width: 705px;
    height: 528px;
    background: #fff;
}



.company-block-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    padding: 3px 7px 2px 7px;
    background: #1e836b;
    margin-bottom: 14px;
    display: inline-block;
}

.company-block-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #2c2c36;
}


@media (max-width: 1200px) {
    .company-block-stats {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        /*width: 100%;*/
        height: 100%;
        padding: 10px 25px;
    }

    .company-stats-img {
        width: 100%;
    }
    .company-number {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .company-number {
        font-size: 24px;

    }

    .company-title {
        font-size: 24px;
    }
}

.more {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #1e836b;
}

.more span {
    padding-right: 5px;
}



/* SERVICES STYLES */

.services {
    margin-top: clamp(40px, 6.25vw, 120px);
    margin-bottom: clamp(40px, 6.25vw, 120px);
}

.container-fluid {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-left: clamp(15px, 2.08333vw, 40px);
    padding-right: clamp(15px, 2.08333vw, 40px);
}

.services-title {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(24px, 3.33333vw, 64px);
    margin-bottom: clamp(20px, 1.5625vw, 30px);
    color: #1b2520;
}

@media (max-width: 1024px) {
    .title_page {
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    .title_page {
        font-size: 36px;
    }
}

@media (max-width: 610px) {
    .title_page {
        font-size: 16px;
    }
}

.photo {
    position: relative;
    overflow: hidden;
}

.photo img:hover {
    transform: scale(1.1); /* Увеличение картинки при наведении */
    transition: 0.4s;
}

.photo img {
    transform: scale(1); /* Исходный размер картинки */
    transition: 0.4s;
}

.photo::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30%;
    box-shadow: 0px 0px 200px 200px rgba(0, 0, 0, .75);
}

.title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: clamp(15px, 3vw, 30px);
    font-size: clamp(16px, 2.4vw, 24px);
    font-weight: 400;
    z-index: 2;
    color: white;
}


/* PROJECTS STYLES */

.projects {
    margin-top: clamp(40px, 6.25vw, 120px);
    margin-bottom: clamp(40px, 6.25vw, 120px);
}

.projects-title {
    font-size: clamp(24px, 3.33333vw, 64px);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #1b2520;
}

.project-link {
    display: flex;
    border-top: 1px solid #088B49;
    padding: clamp(15px, 3vw, 24px);
    border-bottom: 1px solid #088B49;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #088b49;
}


/* CUSTOMERS CSS */


.customers {
    background: #f6f6f6;
    padding-top: clamp(40px, 6.25vw, 120px);
    padding-bottom: clamp(40px, 6.25vw, 120px);
}


.customers-title {
    font-size: clamp(24px, 3.33333vw, 64px);
    text-transform: uppercase;
}

.customers-title span {
    color: #1E836B;
}

.customers-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #2c2c36;
}

.customers-carousel-block {
    background-color: white;
    padding: 20px;
    width: 600px;
}

.carousel-item .image img {
    transform: scale(1); /* Исходный размер картинки */
    transition: 0.4s;
}

.carousel-item .image img:hover {
    transform: scale(1.1); /* Исходный размер картинки */
    transition: 0.4s;
}

.carousel-indicators {
    margin-bottom: 0!important;
}

.carousel-indicators button {
    background-color: green!important;
}


@media (max-width: 768px) {
    .customers-carousel-block {
        display: none;
    }
    .customers-block {
        display: none;
    }
}


.customers-carousel-block {
    margin-left: auto;
    margin-right: auto;
}




/* FOOTER STYLES */

footer {
    background: #f0f0f0;
}

.top {
    padding: clamp(15px, 1.5625vw, 30px) 0 15px;
}

.top ul li a {
    font-size: clamp(12px, 0.72917vw, 14px);
}

.social {
    justify-content: center;
}

.social .facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background: #088b49;
}

.social .youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background: white;
}

@media (max-width: 768px) {
    .facebook,
    .youtube {
        margin: 5px 4px;
   }
}


.bottom {
    border-top: 1px solid rgba(27, 37, 32, .1);
    padding: clamp(10px, 1.30208vw, 25px) 0 clamp(10px, 1.04167vw, 20px);
}

.bottom .inner {
    text-align: center;
}

.bottom .inner span, a {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #8c8c8c;
}

.bottom .inner span > a {
    color: #2c2c36;
}

@media (max-width: 768px) {
 .bottom .inner span, a {
     margin: 5px;
 }
}

