
<footer>
    <div class="top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 col-md-2 col-sm-12 text-center d-flex justify-content-center justify-content-xl-start px-md-0">
                    <img src="{{ global_settings.logo }}" alt="{{ global_settings.logo.alt }}" />
                </div>
                <div class="col-xl-7 col-lg-5 col-md-7 col-sm-12 px-md-0">
                    <ul class="nav justify-content-center justify-content-md-end justify-content-xl-center">
                        <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Про нас</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Послуги</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Проекти</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Новини</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Контакти</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 px-md-0">
                    <div class="social justify-content-sm-center d-flex justify-content-xl-evenly">
                        <div class="facebook">
                            <svg width="34" height="35" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9513 28.2173V17.3363H21.955L22.353 13.5866H18.9513L18.9564 11.7099C18.9564 10.7319 19.0493 10.2079 20.454 10.2079H22.3317V6.45776H19.3277C15.7193 6.45776 14.4492 8.27676 14.4492 11.3357V13.587H12.2V17.3367H14.4492V28.2173H18.9513Z" fill="white" />
                            </svg>
                        </div>
                        <div class="youtube">
                            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8137 1.34231C18.6742 1.5723 19.352 2.24991 19.582 3.11043C20 4.67013 20 7.92436 20 7.92436C20 7.92436 20 11.1786 19.582 12.7381C19.352 13.5986 18.6742 14.2764 17.8137 14.5064C16.254 14.9244 9.99992 14.9244 9.99992 14.9244C9.99992 14.9244 3.74581 14.9244 2.18611 14.5064C1.3256 14.2764 0.647817 13.5986 0.417829 12.7381C0 11.1786 0 7.92436 0 7.92436C0 7.92436 0 4.67013 0.417829 3.11043C0.647817 2.24991 1.3256 1.5723 2.18611 1.34231C3.74581 0.924316 9.99992 0.924316 9.99992 0.924316C9.99992 0.924316 16.254 0.924316 17.8137 1.34231ZM13.5867 8.11837L8.39062 11.1184V5.11833L13.5867 8.11837Z" fill="#088B49" />
                            </svg>
                        </div>
                        <div class="youtube">
                            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8137 1.34231C18.6742 1.5723 19.352 2.24991 19.582 3.11043C20 4.67013 20 7.92436 20 7.92436C20 7.92436 20 11.1786 19.582 12.7381C19.352 13.5986 18.6742 14.2764 17.8137 14.5064C16.254 14.9244 9.99992 14.9244 9.99992 14.9244C9.99992 14.9244 3.74581 14.9244 2.18611 14.5064C1.3256 14.2764 0.647817 13.5986 0.417829 12.7381C0 11.1786 0 7.92436 0 7.92436C0 7.92436 0 4.67013 0.417829 3.11043C0.647817 2.24991 1.3256 1.5723 2.18611 1.34231C3.74581 0.924316 9.99992 0.924316 9.99992 0.924316C9.99992 0.924316 16.254 0.924316 17.8137 1.34231ZM13.5867 8.11837L8.39062 11.1184V5.11833L13.5867 8.11837Z" fill="#088B49" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="inner d-flex justify-content-xl-between justify-content-md-evenly justify-content-xl-between justify-content-center flex-wrap">
                <span>© 2020 All rights reserved</span>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of payment and delivery</a>
                <span>
                Website developed:
                <a href="#">megasite.</a>
            </span>
            </div>
        </div>
    </div>
</footer>

{{ function('wp_footer') }}
